<!DOCTYPE html>
<html>
<head>
    <title>Artist View - <%= helper.getName() %></title>
</head>
<body>
    <h1><%= helper.getName() %></h1>
    
    <h2>Info:</h2>
    <p><%= helper.getInfo() %></p>
    
    <h2>Albums:</h2>
    <ul>
        <% helper.getAlbums().forEach(function(album) { %>
            <li>
                <a href="/?command=Album&title=<%= encodeURIComponent(album) %>"><%= album %></a>
            </li>
        <% }); %>
    </ul>
    
    <p><a href="/?command=Home">Back to Home</a></p>
</body>
</html>